<nb-card *ngIf="loadingGif != ''" class="modal-card" [style]="getStyleModal()" nbSpinnerStatus="primary" nbSpinnerSize="giant">
  <nb-card-body class="modal-card-body" style="padding: 0; display: flex; align-items: center; justify-content: center;">
    <div>
      <img *ngIf="!viewValidteError()" [src]="loadingGif" style="width: 100%; border-radius: 15px; margin: 0;">
      <div *ngIf="viewValidteError()" style="text-align: center; margin: 0px 25px;">
        <div><img class="img-items-errors" [src]="loadingGif"></div>
        <div><label><b style="font-size: 1.2rem;">{{setMessageInfo()}}</b></label></div>
        <div *ngIf="!viewValidteError(true)"><br><b style="font-size: 2rem">¡GRACIAS!</b><br><br>
          <nb-progress-bar [value]="valueProgress" size="tiny" [displayValue]="false"></nb-progress-bar>
        </div>
        <div>
          <p *ngFor="let item of itemsErrors let pos = index" class="item-error-validate"><b>{{pos+1}}</b>{{item}}</p>
        </div>
        <button *ngIf="viewValidteError(true)" (click)="resetErrors(true)" class="modal-btn" nbButton status="primary" style="margin: 15px 0px;">
          Entendido, reiniciar proceso
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="!ContPrinc1 && loadingGif == ''"  class="modal-card" [style]="getStyleModal()" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
  <nb-card-body class="modal-card-body">
    <!-- Header -->
    <h5 class="modal-title">Firma Biofacial</h5>
    <h6 *ngIf="step_now != 7"><button style="position: absolute; top: 15px; right: 15px;" class="modal-btn-default" nbButton status="default" (click)="close()">X</button></h6>

    <div>
      <!-- Contenido -->
      <div class="row content-inputs">
        <!-- Paso 1 -->
        <div class="col-12" *ngIf="step_now == 1">
          <div class="row content-body" style="justify-content: center;">
            <b style="margin: 10px; text-align: center;">Para iniciar el proceso de firma biofacial ingresa tu número de identificación y correo electrónico.</b>
          </div>

          <div>
            <input autocomplete="off" [(ngModel)]="number_id" nbInput fullWidth
              [ngModelOptions]="{standalone: true}" placeholder="Número de identificación" name="number_id" onwheel="this.blur()"
              id="number_id_field" type="number" minlength="5" maxlength="13" required [status]="checkValue(1)" />
          </div>

          <div class="form-group">
            <input autocomplete="off" [(ngModel)]="email" nbInput fullWidth [ngModelOptions]="{standalone: true}"
            placeholder="Ingresa el correo electrónico"
            name="email" id="email_field" type="text" [status]="checkValue(2)" maxlength="50" required/>
          </div>

          <div class="form-group">
            <input type="number" ng2TelInput nbInput fullWidth [(ngModel)]="phone"
              autocomplete="off" #phoneInput name="phone" id="phone_field" (keydown)="pulsar($event)"
              [disabled]="code_valid" [ng2TelInputOptions]="{preferredCountries: ['co'], separateDialCode: true}"
              pattern="^[\s0-9]*$"
              (intlTelInputObject)="telInputObject($event)"
              required [status]="checkValue(3)" [ngModelOptions]="{standalone: true}" style="padding: 0.4375rem 3rem;"/>
          </div>

          <div class="row">
            <div class="col-md-12">
              <nb-checkbox (checkedChange)="toggle($event)" name="check_id">
                He leído y autorizo el tratamiento de datos personales
                <a href="/authorization" target="_blank">Tratamiento de Datos Personales</a>
              </nb-checkbox>
            </div>
          </div>
        </div>

        <!-- Paso 2 -->
        <div class="col-12" *ngIf="step_now == 2">
          <div class="row content-body" style="justify-content: center;">
            <b style="margin: 10px; text-align: center;">Selecciona el lado del documento que quieres subir.</b>
          </div>

          <div class="row mt-2">
            <div class="col-md-auto col-md-6 mt-2 mb-1">
              <div class="text-center" style="color: #412378; font-weight: bold">
                FRONTAL
              </div>
              <div style="display: flex; justify-content: center; min-height: 230px">
                <!-- <img src="./assets/images/biofacial/ELIMINAR_FOTO_CEDULA.png" title="Eliminar imagen" style="position: absolute;cursor: pointer;width: 30%;" [hidden]="elimination1" (click)="EliminarImagen(1)"> -->
                <img [(src)]="imagePrincVideo1" style="cursor: pointer;margin: 0px; width: auto; max-height: 230px !important; min-width: 290px;" [hidden]="cont_reg_video_docu == 2" (click)="fileUpload.click()">
              </div>
              <div class="row" style="padding: 0px 15px;">
                <div class="col-md-auto col-md-4 mt-2 mb-1 text-center content_btns_cc">
                  <button class="modal-btn-primary m-0 btns_cc" fullWidth name="doc_file"
                      nbButton type="button" status="info" shape="rectangle"
                      (click)="stardCaptureDocument(1,1)">
                      <nb-icon class="btns_cc_icon" icon="camera-outline"></nb-icon>TOMAR<br>FOTO
                  </button>
                </div>
                <div class="col-md-auto col-md-4 mt-2 mb-1 text-center content_btns_cc">
                  <input type="file" class="file-input m-0" (change)="onFileSelected($event)"
                        name="doc_file" #fileUpload accept="image/*">
                  <button type="button" fullWidth nbButton class="modal-btn-primary m-0 btns_cc"
                        [status]="doc_file == '' ? 'basic' : 'primary'"
                        shape="rectangle" outline (click)="fileUpload.click()">
                        <nb-icon class="btns_cc_icon" icon="cloud-upload-outline"></nb-icon>SUBIR<br>IMAGEN
                  </button>
                </div>
                <div class="col-md-auto col-md-4 mt-2 mb-1 text-center content_btns_cc">
                  <button class="modal-btn-primary m-0 btns_cc" fullWidth name="doc_file"
                      nbButton type="button" status="info" shape="rectangle"
                      [disabled]="elimination1"
                      (click)="EliminarImagen(1)">
                      <nb-icon class="btns_cc_icon" icon="trash-2-outline"></nb-icon>ELIMINAR<br>IMAGEN
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-auto col-md-6 mt-2 mb-1">
              <div class="text-center" style="color: #412378; font-weight: bold">
                TRASERA
              </div>
              <div style="display: flex; justify-content: center; min-height: 230px">
                <!-- <img src="./assets/images/biofacial/ELIMINAR_FOTO_CEDULA.png" title="Eliminar imagen" style="position: absolute;cursor: pointer;width: 30%;" [hidden]="elimination2" (click)="EliminarImagen(2)"> -->
                <img [(src)]="imagePrincVideo2" style="cursor: pointer;margin: 0px; width: auto; max-height: 230px !important; min-width: 290px;" [hidden]="cont_reg_video_docu_back == 2" (click)="backUpload.click()">
              </div>
              <div class="row" style="padding: 0px 15px;">
                <div class="col-md-auto col-md-4 mt-2 mb-1 text-center content_btns_cc">
                  <button class="modal-btn-primary m-0 btns_cc" name="doc_file"
                      nbButton type="button" fullWidth status="info" shape="rectangle"
                      (click)="stardCaptureDocument(2,0)">
                      <nb-icon class="btns_cc_icon" icon="camera-outline"></nb-icon>TOMAR<br>FOTO
                  </button>
                </div>
                <div class="col-md-auto col-md-4 mt-2 mb-1 text-center content_btns_cc">
                  <input type="file" #backUpload class="file-input m-0" (change)="onFileSelected($event,1)"
                  name="doc_file" accept="image/*">
                  <button type="button" fullWidth nbButton class="modal-btn-primary m-0 btns_cc"
                      [status]="doc_file_back == '' ? 'basic' : 'primary'"  style="padding: 10px 27px;"
                      shape="rectangle" outline (click)="backUpload.click()">
                      <nb-icon class="btns_cc_icon" icon="cloud-upload-outline"></nb-icon>SUBIR<br>IMAGEN
                  </button>
                </div>
                <div class="col-md-auto col-md-4 mt-2 mb-1 text-center content_btns_cc">
                  <button class="modal-btn-primary m-0 btns_cc" fullWidth name="doc_file_back"
                      nbButton type="button" status="info" shape="rectangle"
                      [disabled]="elimination2"
                      (click)="EliminarImagen(2)">
                      <nb-icon class="btns_cc_icon" icon="trash-2-outline"></nb-icon>ELIMINAR<br>IMAGEN
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Paso 3 -->
        <div class="col-12" *ngIf="step_now == 3">
          <div class="row content-body" style="justify-content: center;">
            <b style="margin: 10px; text-align: center;">
              Para continuar enviaremos un código
              <span nbTooltip="Es un tipo de autenticacíon en donde se envía un código de 6 dígitos de un solo uso y temporal." nbTooltipPlacement="top" nbButton>
                <img src="./assets/images/recursosmoduloempresa_melmac-05.png"/>
              </span> <br> OTP por medio de WhatsApp y SMS:
            </b>
          </div>

          <div>
            <div class="col-12" >
              <div class="text-center">
                <nb-form-field class="mb-2">
                  <input type="number" class="form-group" ng2TelInput nbInput fullWidth [(ngModel)]="phone"
                  autocomplete="off" #phoneInput name="phone" id="phone_field" (keydown)="pulsar($event)"
                  [disabled]="code_valid" [ng2TelInputOptions]="{preferredCountries: ['co'], separateDialCode: true}"
                  pattern="^[\s0-9]*$"
                  (intlTelInputObject)="telInputObject($event)"
                  required [status]="checkValue(3)" [ngModelOptions]="{standalone: true}" style="padding: 0.4375rem 3rem;"
                    />
                </nb-form-field>
                <div class="col-12">
                  <span>ENVIAREMOS EL CÓDIGO AL NÚMERO QUE NOS INDIQUES</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Paso 4 -->
        <div class="col-12" *ngIf="step_now == 4">
          <div class="row content-body" style="justify-content: center;">
            <b style="margin: 10px; text-align: center;">Ingresa el código OTP de 6 dígitos que <br>enviamos a tu celular<br>{{'(' + phone_ind +  ') ' + phone}}</b>
          </div>

          <div class="row justify-content-md-center">
            <div>
              <code-input class="token" #codeInput id="code"
              [codeLength]="6" (codeCompleted)="verifyToken($event)" class="code-input-verify">
              </code-input>
            </div>
            <div class="time-countdown mt-2">
              <label>Este código OTP expira en
                <b style="color: #412378;">{{minutes > 0 ? (minutes < 10 ? '0'+minutes+':' : minutes+':'):''}}{{seconds < 10 ? '0'+seconds : seconds}}</b>{{minutes > 0 ? ' minutos' : ' segundos'}}
              </label> <br>
            </div>
          </div>
        </div>

        <!-- Paso 5 -->
        <div class="col-12" *ngIf="step_now == 5">
          <div class="row">
            <div class="col-sm-12 title-step-5">
              <b>Vamos con la firma Biofacial
                <span nbTooltip="Identificamos el documento con inteligencia artificial, lo consultamos en las entidades correspondientes, lo comparamos con una prueba
                de vida del firmante, la desfragmentacion en 276 caracteristicas faciales claves, con un puntaje de confianza de alta fidelidad y comparamos
                con la imagen de tu documento." nbTooltipPlacement="top" nbButton>
                  <img src="./assets/images/recursosmoduloempresa_melmac-05.png"/>
                </span></b>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" style="text-align: center;">
              <label class="label">Iniciaremos un reconocimiento de vida el cual te solicitara que hagas alguno de los siguientes gestos</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex">
              <div class="col-sm-3 col-3 col-md-3 col-lg-3">
                <img src="./assets/images/biofacial/gire_derecha.png"> <br>
                <label class="label"> Gira a la Derecha </label>
              </div>
              <div class="col-sm-3 col-3 col-md-3 col-lg-3">
                <img src="./assets/images/biofacial/mueva_boca.png"> <br>
                <label class="label"> Mueve la Boca </label>
              </div>
              <div class="col-sm-3 col-3 col-md-3 col-lg-3">
                <img src="./assets/images/biofacial/gire_izquierda.png"> <br>
                <label class="label"> Gira a la Izquierda </label>
              </div>
              <div class="col-sm-3 col-3 col-md-3 col-lg-3">
                <img src="./assets/images/biofacial/asentir_cabeza.png"> <br>
                <label class="label"> Asentir la Cabeza </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Paso 6 -->
        <div class="col-12" *ngIf="step_now == 6">
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="form-group-video">
                <div class="row justify-content-md-center" style="text-align: center;" *ngIf="cont_video == 1">
                  <div class="col-12" *ngIf="cont_reg_video == 1">
                    <label style="color: #412378;font-size: 15px;">
                      <span>Por favor prepárese, el video iniciará en ... </span>
                      <nb-icon class="parpadea" icon="shake-outline"></nb-icon>
                    </label>
                    <div class="contentReg parpadea" style="font-size: 2rem; font-weight: bold;">
                      <label for="">{{ reg_video }}</label>
                    </div>
                  </div>
                  <div class="col-11" *ngIf="cont_reg_video == 2">
                    <div class="row justify-content-md-center">
                      <video class="video-biometrics" #videoFacial  *ngIf="video_recording_visible" autoplay="" muted="" playsinline="">
                          <source  src="./assets/images/biofacial/gire_derecha.png" type="video/mp4">
                      </video>
                      <div class="image-container" *ngIf="rndInt == 1">
                        <img class="image"src="./assets/images/biofacial/gire_izquierda_inv.png">
                        <img class="image"src="./assets/images/biofacial/gire_izquierda_verde.png">
                      </div>
                      <div class="image-container" *ngIf="rndInt == 2">
                        <img class="image" src="./assets/images/biofacial/gire_derecha_inv.png">
                        <img class="image" src="./assets/images/biofacial/gire_derecha_verde.png">
                      </div>
                      <div class="image-container" *ngIf="rndInt == 3">
                        <img class="image"src="./assets/images/biofacial/asentir_cabeza_inv.png">
                        <img class="image"src="./assets/images/biofacial/asentir_cabeza_verde.png">
                      </div>
                      <div class="image-container" *ngIf="rndInt == 4">
                        <img class="image"src="./assets/images/biofacial/mueva_boca_inv.png">
                        <img class="image"src="./assets/images/biofacial/mueva_boca_verde.png">
                      </div>
                    </div>
                  </div>
                  <div class="col-11">
                    <div class="row justify-content-md-center">
                      <video class="video-biometrics" *ngIf="!video_recording_visible" #recording controls muted>

                      </video>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-md-center">
                  <div class="col-12">
                    <nb-alert status="warning" [hidden]="cont_reg_video != 2"
                    style="text-align: center;font-size: 20px;background-color: #412378; padding: 10px;">
                    {{ action }}</nb-alert>
                  </div>
                </div>

                <div class="row" style="text-align: center" *ngIf="cont_video == 2">
                  <input type="file" class="file-input"
                  name="vid_file" #fileUploadVideo accept="video/mp4,video/mkv, video/x-m4v,video/*" (change)="onFileSelectedVideo($event)">
                  <span style="color: red;font-size: 14px;text-align: justify;margin-bottom: 15px;" [hidden]="btn_video_2"><nb-icon icon="alert-circle"></nb-icon> El peso del video cargado es de {{ tamanoVideoIos }} MB, está por encima de lo permitido (8 MB), por favor subir otro video. Le recomendamos que el peso no sea superior a 8 MB, el tiempo de grabación del video no sea superior a 4 segundos y sea grabado con una resolución normal o baja.</span>
                  <button type="button" fullWidth nbButton class="upload-btn"
                    [status]="vid_file == '' ? 'basic' : 'primary'"
                    shape="rectangle" outline (click)="fileUploadVideo.click()">{{ vid_file == 1 ? 'Realizar o cargar video' : 'video cargado' }}<nb-icon icon="camera-outline"></nb-icon>
                  </button>
                </div>

                <div class="col-12 text-center">
                  <div class="col-12" >
                    <button class="modal-btn-secundary" [hidden]="btn_video" nbButton type="button" shape="rectangle" id="btnBio" (click)="startRecord()">Volver a grabar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Paso 7 -->
        <!-- <div class="col-sm-12" *ngIf="step_now == 7">
          <img class="tamImgStep7" src="./assets/images/biofacial/VECTOR_DE_VERIFICAR.gif" alt="">
        </div> -->
      </div>
    </div>

    <!-- Footer -->
    <div class="content-footer" style="text-align: center; margin-top: 20px;">
      <!-- Paso 1 -->
      <button (click)="onFirstSubmit()" [disabled]="!validFirstStep()" *ngIf="step_now == 1" class="modal-btn modal-btn-primary" nbButton status="primary">Ingresar</button>
      <!-- Paso 2 -->
      <button (click)="onSubmitOCR()" [disabled]="loading || !validSecondForm()" *ngIf="step_now == 2" class="modal-btn modal-btn-primary" nbButton status="primary">Ingresar</button>
      <!-- Paso 3 -->
      <button (click)="requestToken()" [disabled]="code_sent || !validForm(true)" *ngIf="step_now == 3" class="modal-btn modal-btn-primary" nbButton status="primary">Enviar</button>
      <!-- Paso 4 -->
      <button (click)="onBackFirstStep()" *ngIf="step_now == 4" class="modal-btn modal-btn-primary" nbButton status="primary">No recibí mi código</button>
      <!-- Paso 5 -->
      <button (click)="onSubmitOTP()" *ngIf="step_now == 5" class="modal-btn modal-btn-primary" nbButton status="primary">Iniciar</button>
    </div>

  </nb-card-body>
</nb-card>

<nb-card *ngIf="!ContVideo1 && loadingGif == ''" [nbSpinner]="loading" id="idContVideo1" nbSpinnerStatus="primary" class="styleContVideo1">
    <nb-card-body style="margin: 0 auto;">
      <div class="row">
        <div class="col-12 text-center" style="color: white;font-size: 26px;margin-bottom: 20px;line-height: 35px;">
          <span *ngIf="!video_recording_visible_docu">Comprueba que la foto es legible y está bien enfocada</span>
        </div>
      </div>
      <div class="row">
        <div id="divContImage1" class="col-md-12 styleContImage1">
          <img class="image m-0" [(src)]="imageGeneral" style="border-radius: 25px;width: 100%;" [(hidden)]="countImage1">
          <div class="styleContCount1" [(hidden)]="countTextImage1">
            <span [(hidden)]="spanImage1" class="parpadea"
              style="font-size: 150px;color: white;text-shadow: 2px 4px 8px #412378;position: fixed;padding-top: 200px;">{{ textCountImage1 }}</span>
            <!-- Video frontal -->
            <video class="video-biometrics" #videoFacial *ngIf="video_recording_visible_docu" autoplay="" muted=""
              playsinline="" style="width: 56  0px;border-radius: 35px;height: 100%;"></video>
            <video class="video-biometrics" [hidden]="true" #recording controls muted></video>
            <img [(src)]="imageVideo1" style="width: 100%;height: 100%;margin: 0px;border-radius: 30px;" alt=""
              *ngIf="!video_recording_visible_docu">
          </div>
        </div>
      </div>
      <div class="row" [(hidden)]="textImage1">
        <div class="col-12 text-center">
          <div style="background: #412378;color: white;font-size: 30px;padding: 15px 40px;font-weight: bold;line-height: 35px;"> Encaje la
            parte {{textGeneral}} </div>
        </div>
      </div>
      <div class="row" [(hidden)]="btnImage1End">
        <div class="col-12 text-center">
          <button nbButton type="button" status="info" shape="rectangle" class="btnImage1"
            (click)="repetitionStardCaptureDocument(1,1)">QUIERO REPETIR</button>
          <button nbButton type="button" status="info" shape="rectangle" class="btnImage1"
            (click)="stardCaptureDocument(3,0)">CONTINUAR</button>
        </div>
      </div>
      <div class="row" [(hidden)]="btnImage2End">
        <div class="col-12 text-center">
          <button nbButton type="button" status="info" shape="rectangle" class="btnImage1"
            (click)="repetitionStardCaptureDocument(2,0)">QUIERO REPETIR</button>
          <button nbButton type="button" status="info" shape="rectangle" class="btnImage1"
            (click)="stardCaptureDocument(4,0)">CONTINUAR</button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
