<div class="row">
  <div class="col-md-12" style="width: 1000px;">
    <div class="col-md-12 mx-auto">
      <nb-card size="medium">
         <div>
          <p >Nombre</p>
          <input type="text" nbInput [ngModel]="name" (change)="changeValue(0,$event)">
          <p >Descripción</p>
          <input type="text" nbInput [ngModel]="description" (change)="changeValue(1,$event)">
          <p >Precio</p>
          <input type="text" nbInput [ngModel]="price" (change)="changeValue(2,$event)">
          <nb-checkbox (checkedChange)="toggle($event)" [ngModel]="state" (change)="changeValue(3,$event)">Activo</nb-checkbox>
         </div>
         <div class="col-xs-12 col-sm-6">
          <label class="label" for="inputPublic">Color para la cabecera documento público</label>
          <input id="inputPublic" type="color" nbInput fullWidth shape="semi-round" autocomplete="off" style="height: 60px;" [ngModel]="colorB" (change)="changeValue(4,$event)">
          <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileUpload>
         <div>
          <div class="col-12 col-md-12" *ngFor="let item of indexItems; let i=index;">
            <nb-checkbox [checked]="enable_checked(item.id)" (checkedChange)="toggle($event, item.id)">{{item.service}}</nb-checkbox>
           </div>
          <div>
            <button nbButton status="primary" (click) = "finish()">Aceptar</button>
          </div>
         </div>
        </div>
      </nb-card>
    </div>
  </div>
</div>
