::ng-deep.table_list_field {
    border-radius: 0.25rem;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

::ng-deep .th_list {
    padding: 5px;
    border-radius: 0.25rem;
}

::ng-deep body.nb-theme-default, ::ng-deep body.nb-theme-corporate {
    ::ng-deep.table_list_field {
        border: 0.0625rem solid #e4e9f2;
    }

    ::ng-deep .th_list {
        border: 0.0625rem solid #e4e9f2;
    }
}

::ng-deep body.nb-theme-dark {
    ::ng-deep.table_list_field {
        border: 0.0625rem solid #101426;
    }

    ::ng-deep .th_list {
        border: 0.0625rem solid #101426;
    }
}

::ng-deep body.nb-theme-cosmic {
    ::ng-deep.table_list_field {
        border: 0.0625rem solid #13132b;
    }

    ::ng-deep .th_list {
        border: 0.0625rem solid #13132b;
    }
}

::ng-deep .end-float{
    float: right;
}