<nb-layout>
  <nb-layout-header fixed >
    <div class="col-md-12 d-flex">
        <div id="left" class="col-md-4">
            <!-- <nb-layout-column left  class="colored-column-warning">Left column</nb-layout-column> -->
        </div>
        <div id="center" class="col-md-4">
          <a href="/landing"> <img style="display: inline-block;" src="./assets/images/landing/logo_melmac.png" alt="" height="75px"></a>
        </div>
        <div id="right" class="col-md-4" *ngIf="login_form == true">
            <div [hidden]="hidden_reg">
              <a (click)="onRegister()" style="text-decoration: none;color: white;cursor: pointer;"> REGISTRARME </a>
            </div>
            <div [hidden]="hidden_reg">
                <a (click)="onRegister()" style="cursor: pointer;"> <img src="./assets/images/landing/registrarme.png" alt=""></a>
            </div>
        </div>
        <div id="right" class="col-md-4" *ngIf="login_form == false">
            <div>
              <a (click)="onRegister()" style="text-decoration: none;color: white;cursor: pointer;"> INGRESAR </a>
            </div>
            <div>
                <a (click)="onRegister()" style="cursor: pointer;"> <img src="./assets/images/landing/INGRESAS.png" alt=""></a>
            </div>
        </div>
      </div>
    </nb-layout-header>




    <nb-layout-column class="login_background mr-2 ml-2 mp-0 pl-1 pr-2 pt-5 pb-2" style="background-image: url('./assets/images/landing/FONDO.png');">
      <div class="row">
        <div id="container-1" class="col-md-7 col-sm-1 pt-5">
          <div class="col-md-12 d-flex">
              <div class="col-md-7 description">
                      <div class="desc col-md-12 text-center">
                          <b style="word-break:break-all;">
                            <span style="font-size: 32px;">CREA, COMPARTE,</span> <br>
                            <span style="font-size: 32px;">FIRMA Y GESTIONA</span> <br>
                              <span style="font-size: 42px;">DOCUMENTOS</span><br>
                              <span style="font-size: 22px;" class="desc2">DESDE CUALQUIER LUGAR</span>
                          </b>
                      </div>
              </div>
              <div class="col-md-5 pr-0">
                  <img class="imgC" src="./assets/images/landing/Recurso 2-8.png" alt="">
              </div>
          </div>
        </div>

        <div  id="container-2" class="col-sm-12 col-md-5 ">
          <div class="col-md-12 col-sm-12">
              <div class="overlay col-md-12 col-sm-12" *ngIf="login_form == true">
                  <div class="text-login">
                      <h2><b>¡HOLA!</b><br><span style="font-weight: 100;font-size: 28px;">Bienvenido a MELMAC</span></h2>
                      <!-- <p>Sabemos que ya has ingresado desde este equipo, recuerda que
                          puedes activar la casilla MANTENER SESION EN ESTE EQUIPO en
                          la pestaa de configuración dentro del menú, una vez accedas.</p> -->
                      <p>
                          ¡Gracias por confiar en nuestro acompañamiento!
                      </p>
                  </div>
                  <form style="padding-left: 5px;" [nbSpinner]="loading" nbSpinnerStatus="success" #form="ngForm" aria-labelledby="title">

                  <div class="form-control-group">
                      <div class="item-input">
                          <label class="label" for="input-email">Email:</label>
                          <br>
                          <input class="input-email" nbInput fullWidth [(ngModel)]="email" name="email" pattern=".+@.+\..+"
                              #emailModel="ngModel" placeholder="Ingresa tu correo electrónico" autocomplete="off" autofocus required="true"
                              [status]="emailModel.touched ? (emailModel.invalid ? 'danger' : 'basic') : 'basic'">
                          <ng-container *ngIf="emailModel.invalid && emailModel.touched">
                              <p class="caption status-danger" *ngIf="emailModel.errors?.required">
                                  ¡El correo electrónico es obligatorio!
                              </p>
                              <p class="caption status-danger" *ngIf="emailModel.errors?.pattern">
                                  ¡No es un correo electrónico!
                              </p>
                          </ng-container>
                      </div>
                      <div class="item-input">
                          <label class="label" for="input-password">Contraseña</label>
                          <br>
                            <input class="input-email eye" placeholder="Ingresa tu contraseña" nbInput [(ngModel)]="password" #passwordModel="ngModel" [type]="getInputType()"
                            name="password"
                            autofocus fullWidth
                            [status]="passwordModel.dirty ? (passwordModel.invalid  ? 'danger' : 'success') : 'basic'"
                            required
                            [attr.aria-invalid]="passwordModel.invalid && passwordModel.touched ? true : null" (keydown)="pulsar($event)">
                            <button nbSuffix nbButton ghost (click)="toggleShowPassword()" class="pr-10">
                            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                        pack="eva"
                                        [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                            </button>
                          <ng-container *ngIf="passwordModel.invalid && passwordModel.touched">
                              <p class="caption status-danger" *ngIf="passwordModel.errors?.required">
                                  ¡La contraseña es obligatoria!
                              </p>
                          </ng-container>
                      </div>
                      <div class="external pb-3">
                          <a href="/assets/legal/TERMINOS-Y-CONDICIONES.pdf">Términos y Condiciones</a>
                          <a href="/legal">Politica de privacidad y Tratamiento de Datos</a>
                          <a href="/assets/legal/ELIMINACIÓN-DE-USUARIOS-APLICACIONES.pdf">Eliminación de datos y usuarios</a>
                      </div>
                      <div class="item-button pb-2">
                          <!-- <button class="login-button"> INGRESAR </button> -->
                          <button
                                  fullWidth
                                  status="danger"
                                  size="large"
                                  [disabled]="!form.valid"
                                  class="login-button"
                                  (click)="login()">
                              Iniciar sesión
                          </button>
                      </div>
                  </div>
                  </form>
                  <div class="forgot pb-3">
                      <a href="/site/recover-pass" style="text-decoration: none;color:#412378;">¿Olvidaste tu contraseña?</a>
                  </div>
                  <div style="display: none;">
                    <p class="with">INGRESAR CON</p>
                    <div class="in-with">
                        <div>
                            <img src="./assets/images/landing/GOOGLE.png" alt="">
                        </div>
                        <div>
                            <img src="./assets/images/landing/FACEBOOK.png" alt="">
                        </div>
                    </div>
                  </div>
              </div>
              <div class="overlay col-md-12 col-sm-12"  *ngIf="login_form == false">
                  <div class="text-login">
                    <h2><b>¡HOLA!</b><br><span style="font-weight: 100;font-size: 28px;">Bienvenido a MELMAC</span></h2>
                      <p>Empecemos escribiendo tu nombre completo. Lo utilizaremos
                          cuando necesites crear tu firma o integrar tus iniciales.
                          Asegúrate de escribirlo correctamente, este también será el
                          nombre de remitente que se verá en las invitaciones que envíes
                          por correo electrónico.</p>
                  </div>

                  <div *ngIf="step == 1" >
                      <div class="col-12 d-flex  pl-0 pr-0 pt-3">
                        <div class="form-control-group col-md-6 col-sm-12 pl-0 pr-0">
                          <div class="item-input" >
                              <label class="label" for="input-name">Nombre</label><br>
                              <input class="input-email" nbInput [(ngModel)]="name" name="name" placeholder="Ingresa tu nombre" pattern="[a-zA-Z ]+"
                                  #namemodel="ngModel" [status]="namemodel.touched ? (namemodel.invalid ? 'danger' : 'basic') : 'basic'" autocomplete="off" autofocus required="true"  style="width: 100%;">

                              <ng-container *ngIf="namemodel.invalid && namemodel.touched">
                                  <p class="caption status-danger" *ngIf="namemodel.errors?.required">
                                      ¡El nombre es obligatorio!
                                  </p>
                                  <p class="caption status-danger" *ngIf="namemodel.errors?.pattern">
                                      ¡Solo se permite letras! No "@","á","#"
                                  </p>
                              </ng-container>
                          </div>
                        </div>
                        <div class="form-control-group col-md-6 col-sm-12 pl-0 pr-0">
                          <div class="item-input">
                              <label class="label" for="input-last-name">Apellido</label><br>
                              <input nbInput class="input-email"  [(ngModel)]="last_name" name="last_name" placeholder="Ingresa tu apellido" pattern="[a-zA-Z ]+"
                                  #lastnamemodel="ngModel" [status]="lastnamemodel.touched ? (lastnamemodel.invalid ? 'danger' : 'basic') : 'basic'"
                                   autocomplete="off" autofocus required="true" style="width: 100%;">
                              <ng-container *ngIf="lastnamemodel.invalid && lastnamemodel.touched">
                                  <p class="caption status-danger" *ngIf="lastnamemodel.errors?.required">
                                      ¡El apellido es obligatorio!
                                  </p>
                                  <p class="caption status-danger" *ngIf="lastnamemodel.errors?.pattern">
                                      ¡Solo se permite letras! No "@","á","#"
                                  </p>
                              </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 pl-0 pr-0">
                          <div class="item-input col-md-12 col-sm-12 pl-0 pr-0" style="display: flex;">
                              <label class="label" for="input-email">Email:</label>
                              <input class="input-email" nbInput [(ngModel)]="email" name="email" pattern=".+@.+\..+"
                                  #emailModel="ngModel" fullWidth placeholder="Ingresa tu correo electrónico" autocomplete="off" autofocus required="true"
                                  [status]="emailModel.touched ? (emailModel.invalid ? 'danger' : 'basic') : 'basic'">
                              <ng-container *ngIf="emailModel.invalid && emailModel.touched">
                                  <p class="caption status-danger" *ngIf="emailModel.errors?.required">
                                      ¡El correo electrónico es obligatorio!
                                  </p>
                                  <p class="caption status-danger" *ngIf="emailModel.errors?.pattern">
                                      ¡No es un correo electrónico!
                                  </p>
                              </ng-container>
                          </div>
                      </div>
                      <div class="col-12 pl-0 pr-0" style="display: flex;">
                        <div class="form-control-group col-md-6 col-sm-12 pl-0 pr-0">
                          <div class="item-input">
                              <label class="label" for="input-document">Documento</label><br>
                              <div class="doc-cc">
                                  <input nbInput class="input-email"  [(ngModel)]="document" name="document" id="input-document" placeholder="CC - Documento" pattern="[0-9]+"
                                      #documentmodel="ngModel" [status]="documentmodel.touched ? (documentmodel.invalid ? 'danger' : 'basic') : 'basic'"
                                      minlength="7" maxlength="12" type="text"  autocomplete="off" autofocus
                                      required="true" style="width: 100%;">
                              </div>
                              <ng-container *ngIf="documentmodel.invalid && documentmodel.touched">
                                  <p class="caption status-danger" *ngIf="documentmodel.errors?.required">
                                      ¡El documento es obligatorio!
                                  </p>
                                  <p class="caption status-danger" *ngIf="documentmodel.errors?.minlength || documentmodel.errors?.maxlength || documentmodel.errors?.pattern">
                                      ¡Ingresa un documento valido!
                                  </p>
                              </ng-container>
                          </div>
                        </div>
                        <div class="form-control-group col-md-6 col-sm-12 ">
                          <div class="item-input">
                              <label class="label" for="input-phone">Celular</label><br>
                              <input nbInput class="input-email"  [(ngModel)]="phone" name="phone" id="input-phone" placeholder="Ingresa # celular activo" pattern="[0-9]+"
                                  #phonemodel="ngModel" [status]="phonemodel.touched ? (phonemodel.invalid ? 'danger' : 'basic') : 'basic'"
                                  minlength="10" maxlength="10" type="text"  autocomplete="off" autofocus required="true" style="width: 100%;">
                              <ng-container *ngIf="phonemodel.invalid && phonemodel.touched">
                                  <p class="caption status-danger" *ngIf="phonemodel.errors?.required">
                                      ¡El celular es obligatorio!
                                  </p>
                                  <p class="caption status-danger" *ngIf="phonemodel.errors?.minlength || phonemodel.errors?.maxlength || phonemodel.errors?.pattern">
                                      ¡Ingresa un celular valido!
                                  </p>
                              </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="form-control-group pb-2 pt-3">
                          <nb-checkbox (checkedChange)="toggleTerms($event)" status="basic">Al crear una cuenta, aceptas nuestras
                              <strong><a class="link_terms" href="/assets/legal/TERMINOS-Y-CONDICIONES.pdf" target="_blank">condiciones de servicio</a></strong>
                          </nb-checkbox>
                      </div>
                      <div class="external" *ngIf="login_form == true">
                          <a href="/assets/legal/TERMINOS-Y-CONDICIONES.pdf">Términos y Condiciones</a>
                          <a href="/legal">Politica de privacidad y Tratamiento de Datos</a>
                          <a href="/assets/legal/ELIMINACIÓN-DE-USUARIOS-APLICACIONES.pdf">Eliminación de datos y usuarios</a>
                      </div>
                      <div class="item-button pb-3">
                          <button class="login-button" (click)="onSunmit(emailmodel, namemodel, lastnamemodel, documentmodel, phonemodel)" fullWidth status="primary">Crear tu
                              cuenta</button>
                      </div>
                  </div>
                  <div *ngIf="step == 2 && (code_sent && !code_valid)" class="row">
                    <div class="col-12">
                    <!-- <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-xl-8 offset-xl-2"> -->                    
                        <div class="row">
                            <div class="content-form col-12">
                            <!-- <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-xl-8 offset-xl-2"> --> 
                                <div class="form-control-group">
                                    <label class="label" for="code">Token de confirmación</label>
                                    <code-input class="token" id="code" #codeInput *ngIf="code_sent" [isCodeHidden]="false" [codeLength]="6"
                                        (codeCompleted)="onCodeCompleted($event, codeInput)">
                                    </code-input>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div *ngIf="step == 2 && (code_sent && code_valid)" class="row">
                      <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
                          <div class="column">
                              <div class="content-form column">
                                  <div class="form-group pass-control">
                                      <label class="label" for="input-password">Contraseña:</label>
                                      <input nbInput class="input-email eye" [(ngModel)]="new_password" #password="ngModel" [type]="getInputType()"
                                          id="input-password" name="password" autocomplete="none" class="first"
                                          autofocus fullWidth fieldSize="large"
                                          [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                                          required
                                          minlength="8"
                                          maxlength="20"
                                          [attr.aria-invalid]="password.invalid && password.touched ? true : null" (keydown)="pulsar($event)">
                                          
                                      <ng-container *ngIf="password.invalid && password.touched">
                                          <p class="caption status-danger" *ngIf="password.errors?.required">
                                              ¡La contraseña es obligatoria!
                                          </p>
                                          <p class="caption status-danger"
                                              *ngIf="password.errors?.minlength || password.errors?.maxlength">
                                              La contraseña debe ser
                                              de 8
                                              a 20
                                              caracteres pueden ser alfanumerica y puede tener 
                                              estos simbolos "@","*"
                                          </p>
                                      </ng-container>
                                  </div>

                                  <div class="form-group pass-control">
                                        <label class="label" for="input-re-password">Confirma la Contraseña:</label>
                                        <input class="input-email eyes" nbInput [(ngModel)]="confirmPassword" #rePass="ngModel"
                                            id="input-re-password" name="rePass" [type]="getInputType()" autocomplete="none" class="last"
                                            fullWidth fieldSize="large" [status]="rePass.touched
                                                ? (rePass.invalid || password.value != rePass.value ? 'danger' : 'success')
                                                : 'basic'"
                                            required
                                            [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null" (keydown)="pulsar($event)">
                                            <button nbSuffix nbButton ghost (click)="toggleShowPassword()" class="pr-0">
                                                    <nb-icon icon="lock-outline"></nb-icon>
                                                    Mostrar Contraseñas
                                            </button>
                                        <ng-container *ngIf="rePass.touched">
                                            <p class="caption status-danger"
                                                *ngIf="rePass.invalid && rePass.errors?.required">
                                                ¡La confirmación de la contraseña es obligatoria!
                                            </p>
                                            <p class="caption status-danger"
                                                *ngIf="password.value != rePass.value && !rePass.errors?.required">
                                                La contraseña no coincide con la confirmación.
                                            </p>
                                        </ng-container>
                                  </div>
                                  <button nbButton status="info" fullWidth size="large" type='button'
                                      (click)="changePassword(password.invalid)">
                                      <nb-icon icon="lock-outline"></nb-icon>
                                      Crear Contraseña
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div style="display: none;">
                    <p class="with">INGRESAR CON</p>
                    <div class="in-with">
                        <div>
                            <img src="./assets/images/landing/GOOGLE.png" alt="">
                        </div>
                        <div>
                            <img src="./assets/images/landing/FACEBOOK.png" alt="">
                        </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>

      </div>
    </nb-layout-column>
    <nb-layout-footer>
        <!-- ιииσмє -->
        <div class="col-md-6 left-footer">
            Copyright | Todos los derechos reservados <br>
            MELMAC es una solución desarrollada por SAROA SAS
        </div>
        <div class="col-md-6 right-footer">
            Edificio Varese | Calle 98 #18-71 | Bogotá, Colombia
        </div>
    </nb-layout-footer>
</nb-layout>
