::ng-deep .content-role-permit {
    overflow-y: auto;
    max-height: 450px;
}

::ng-deep .permit-container {
    overflow-y: hidden;
}

::ng-deep .content-check {
    margin-bottom: 15px;
}

::ng-deep .fl {
    float: left;
}

::ng-deep .fr {
    float: right;
}

::ng-deep .table-rol {
    ::ng-deep i[itemprop]:hover::after {
        z-index: 1;
        padding: 5px;
        font-size: 14px;
        content: attr(itemprop);
        position: absolute;
        border-radius: 0px 5px 5px 5px;
        border: 1px solid;
        bottom: -15px;
        margin-left: -0.4em;
    }
}

::ng-deep body.nb-theme-default, ::ng-deep body.nb-theme-corporate {
    ::ng-deep .table-rol {
        ::ng-deep i[itemprop]:hover::after {
            background-color: #edf1f7;
            color: #3366ff;
        }
    }
}

::ng-deep body.nb-theme-cosmic {
    ::ng-deep .table-rol {
        ::ng-deep i[itemprop]:hover::after {
            background-color: #323259;
            color: #a16eff;
        }
    }
}

::ng-deep body.nb-theme-dark {
    ::ng-deep .table-rol {
        ::ng-deep i[itemprop]:hover::after {
            background-color: #222b45;
            color: #3366ff;
        }
    }
}
