<nb-card>
  <nb-card-header>
    Importar Archivo De Usuarios Masivos Con Plantilla <button class="end-float pt-0 pb-0" nbButton ghost status="info" (click)="DownloadSheets()">Descargar Plantilla Aquí<nb-icon icon="more-vertical"></nb-icon></button>  
  </nb-card-header>

  <nb-card-body>
    <p>
      Para iniciar el proceso debe importar un archivo .xlsx que tenga la misma estructura que la plantilla que puedes descargar desde el menu <nb-icon icon="more-vertical"></nb-icon>
    </p>
    <input type="file" class="file-input"
       (change)="onFileSelected($event)" [ngModel]="fileName" #fileUpload>
    <div class="file-upload">
        <button nbButton status="primary" class="upload-btn" shape="round"
          (click)="fileUpload.click()">
          Subir Archivo
          <nb-icon icon="cloud-upload"></nb-icon>
        </button>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    Procesos
  </nb-card-header>

  <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (edit)="checkErrors($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>

<!--(deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onEditConfirm($event)"
      (createConfirm)="onCreateConfirm($event)"
      -->
