<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Documentos mas enviados (Top 3)
        <button style="float:right" nbButton status="success" (click)="convertToPDF('graph')">
          <nb-icon icon="file-outline" title="Descargar PDF"></nb-icon>
        </button>
      </nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
    <nb-card-header>
      Diligenciados por documento
      <button style="float:right" nbButton status="success" (click)="convertToPDF('bar')">
        <nb-icon icon="file-outline" title="Descargar PDF"></nb-icon>
      </button>
    </nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>
